[2016-03-29 18:32] Greybird opened #3 "FlotWebApp support for OWin endpoint changes"
Hi,

While OWin.Metrics lets you change the endpoints for publishing health and metrics' json, the FlotWebApp has hard-coded /json and /health paths in its html resource.

Do you have plans to allow customiing the webapp with endpoints override ?

Regards,

[2016-03-29 22:00] hinteadan commented on #3
Well... do you have a real use case for this?

Because the reasoning here is that if you customize the endpoints you probably want to do so in order to consume them from some other custom application, therefore being irrelevant if the FlotViewApp works or not since it wouldn't be used.

This being the assumption, we have no plans for this feature, but please detail your scenario and let's see if i

[2016-03-30 06:58] Greybird commented on #3
Hi,

Thanks for you interest in my issue!

I have a real use case, but I'd be glad to hear your views on it.

I'm using Metrics.NET on a Web API service.
I am exposing data on /service/v1/...

While the default for health, ping, and the web app would be ok (/service/v1/health, /service/v1/ping, /service/v1/metrics), I'm not conortable with /service/v1/json for the metrics json exposition, as it fa

[2016-03-30 12:14] hinteadan commented on #3
Hi, I think your scenario would be covered with the existing functionality, using the following config:
[code]

and also having a "public" endpoint for the metrics' json _(if needed)_, defined in a specific WebAPI controller which redirects to the _metrics/json_ endpoint:

[code]
With this we have:
- All the Metrics related stuff under: **_\[root\]/metrics/\[etc.\]_**
- Your Service endpoints unde

[2016-03-30 17:22] Greybird commented on #3
Hi,

Actually, the root /json is bothering me, so I don't want/need this redirect.

But in fact you are right, if I keep the web app with health and json at same relative path, it works, so in my case it is perfect, I will make everything go under /metrics rather than root.

Probably not that important to allow full configuration for other cases.

Thanks for your response!

Arnaud

[2016-03-30 17:22] #3 closed

[2016-04-07 02:04] peske opened #5 "Release?"
First, of course, congs for the great work! It's really great library.

But second I must criticise your "Release" policy. Current release is 2.16 (more than year old), and prerelease already reached 3.4! It is not a good practice - it is more like "I won't bother with release anymore..." I strongly suggest slowing down with new features and stabilize one release version.

One may say that there's

[2016-04-07 08:32] LatisVlad commented on #5
Hi peske,

I totally agree with you on the "Release" policy. I don't know if you are aware, but last year an unfortunate event left this library without its owner. After some time and consideration, we(4 colleagues of etishor) decided to continue his great work.
So for about a month now we have full access to this repo, and made this the "official" repo.

To conclude, be sure that we will do our b

[2016-04-07 08:32] #5 closed

[2016-04-10 08:03] rokka opened #7 "Prometheus report"
Hi,

I just found this cool project. And I would like to use it in combination with Prometheus (http://prometheus.io/), an active monitoring system.

Are you interested that I add an an prometheus report to your project, which listens on "/metrics" and returns prometheus readable output?

Greetings
Andre

[2016-04-10 08:34] hinteadan commented on #7
Hi,

I think the best approach for these custom reporters is to keep them separate from the core, I had a similar issue when  I wrote a Google Analytics Reporter.

So, please make a separate git repo for it and publish it on its own, separate NuGet Package.

Here is my solution for the Google Analytics Reporter. Yours' should have a similar infrastructure, but storing implementation for Prometheus

[2016-04-10 08:40] LatisVlad commented on #7
Hi,
I agree with Dan on this.
Please keep us in touch with this :)
Thanks,
Vlad

[2016-04-10 08:40] #7 closed

[2016-04-11 08:41] dariusdamalakas opened #8 "Question: how to control which metrics are shown by default"
Hi,

Sorry if this is an easy question, but I could not find my answer anywhere. Is is possible to control which metrics are pre-selected be default when we load http endpoint for metrics visualisation?

By default all timers are pre-selected, and this causes the browser to crash/unresponsive, so ideally we'd like to show none by default. What options are there available to control this?

Thanks

[2016-04-12 23:22] PaulParau commented on #8
Hi, sorry for the late reply.

Yes, we are aware that the visualization app is slow when loading a large amount of metrics. There are currently no options to configure this behavior, but since version 3.3-pre (prerelease) no metrics are shown by default for this precise reason.

This change has not yet made it's way to the stable release channel, but we aim to release a new stable version containi

[2016-04-13 07:08] dariusdamalakas commented on #8
Thanks @PaulParau ! I guess we can live with this for the time being and wait for 3.3 release. It's good to know there is an option if we desperately need this.

[2016-04-15 07:24] behaug opened #10 "PerformanceCounters are still registered even if Metrics.CompletelyDisableMetrics is set to True"
We have seen in some cases that registering performance counters can hang the process. (See https://ayende.com/blog/165217/performance-counters-sucks).

When I disable Metrics I would expect it to not even register these but it still does.

[2016-04-17 13:46] AmirSasson opened #11 "Supporting Rolling Index for Elastic Reports"
our IT guy requested to have a daily index when reporting to elastic as TTL is about to die according to Elastic latest news.
Daily Index can provide easy maintenance tool by deleting Index Daily.
Index name can be NAME-yyyy-MM-dd (i.e myindex-2016-04-17)

[2016-04-17 14:03] AmirSasson commented on #11
I have submitted a pull request #12 that supports rolling index.
it supports backward compatibility,

[2016-04-18 19:41] PaulParau commented on #10
Thanks for pointing this out & linking that blog post.

We'll get back to you once we get a chance to look at the problem in more detail.

[2016-04-19 10:27] behaug opened #16 "Lots of errors logged when using WithAppCounters on IIS"
When using WithAppCounters in a web application there are many performance counters that cannot be found. Perhaps there should be a separate configuration for Web applications (something like WithWebCounters) that includes more relevant counters?

Also it would be nice to log these as Warnings and not Errors.

Here is the log4net output I am seeing:

[code]

[2016-04-22 06:43] ycx2014 opened #17 "can`t release memory after completelyDisableMetrics"
Because class 'HistogramMetric' doesn't implement Interface 'IDisposable' ,so disable a metricContext can not disable histogram, class 'HistogramMetric' have a field reservoir,if the reservoirs type is 'ExponentiallyDecayingReservoir', the memory will cant be release.

[2016-04-22 13:52] Liwoj commented on #17
Not true imho.
Call to MetricsContext.CompletelyDisableMetrics will clear all repositories -> HistogramMetric instances are not referenced anywhere are will be garbage collected together with its reservoir. IDisposable is not needed most of the time in .NET unless you dealing with unmanaged resources....

[2016-04-22 19:31] amccool opened #19 "Appveyor"
looks like etishor was using Appveyor for builds.

What can I do to help convert the Recognos repo to have appveyor builds?

[2016-04-22 19:45] #8 closed

[2016-04-22 19:49] hinteadan commented on #17
Agreed with @Liwoj. Will close this.

[2016-04-22 19:49] #17 closed

[2016-04-22 20:16] hinteadan commented on #19
Hi,
First of all thank you for the interest!
He was using both AppVeyor and Travis CI, but I think **we**'ll have to take care of them because they need access to the repo to register web-hooks upon **git push**-es so they know when to trigger the build.
I say "_I think_" because I didn't use any of them before, I just know that's how CI systems usually work.

Other than that no conversion is need

[2016-04-23 13:10] hinteadan commented on #19
I configured AppVeyor, Travis and Git Stats and updated the badges in README.md. Will close this issue.

[2016-04-23 13:10] #19 closed

[2016-04-25 21:18] PaulParau commented on #11
Since the pull request was merged & a new version released, I'm closing this issue.

[2016-04-25 21:18] #11 closed

[2016-04-28 01:10] amccool opened #21 "SNMP support"
Support for SNMP. via a report provider

GetRequest
GetNextRequest
GetBulkRequest

Trap output to a configured manager

[2016-04-28 06:42] alhardy opened #22 "ASP.NET Core Adapter"
I've added an alpha implementation to integrate Metrics.NET with ASP.NET Core middleware

https://github.com/alhardy/aspnet-metrics/blob/master/README.md

https://www.nuget.org/packages/AspNet.Metrics/

[2016-05-08 10:48] AmirSasson opened #23 "Health Checks are not been reported to elsatic"
I need a way to reflect the health status of my application as documents in the Elastic.
i See the "ReportHealth" has empty implementation.

[2016-05-09 05:56] AmirSasson commented on #22
Looks super useful !

[2016-05-10 03:26] AmirSasson commented on #23
@LatisVlad ,  I am going to refactor a bit the elastic health reporting.
gonnasend a pull request soon.

[2016-05-19 10:15] Liwoj commented on #16
Just a note.
Problem you see is not about "relevance" of the counters - those counters are still relevant in web app. All the counters in your log are application level counters. When reading app counters, caller has to pass instance name to the API. And here comes the catch - if you run your app in IIS and there are multiple application pools running, each pool has its own "instance name".
What M

[2016-05-23 01:33] alhardy commented on #22
I've added a link to the ASP.NET Core adapter on the wiki. It's been upgraded to ASP.NET Core RC2

[2016-05-23 01:33] #22 closed

[2016-05-25 15:47] petemounce opened #26 "Any plans to support metrics20.org spec?"
http://metrics20.org/spec/ + http://dieter.plaetinck.be/post/monitorama-pdx-metrics20/

The benefits from the canonical list of keys include:
* easier to define checks, queries, and dashboards because of metric naming consistency
* easier to write tools against the more consistent way of reasoning about metrics
* easier to define rollup patterns, and more flexible, since one can decide to keep par

[2016-05-26 09:25] alhardy commented on #26
Didnt know there was some type of spec, this is cool. Who's defined that spec? Is it adopted at all?

[2016-05-26 09:54] petemounce commented on #26
I think @obfuscurity defined it. Like I said, the good people at Netflix independently arrived at something very similar with their Atlas monitoring stack.

There's support in [some implementations](http://metrics20.org/implementations/) of both metrics aggregators and visualizers.

At just eat, we're using a similar idea for logs, but not yet metrics, and are laying the groundwork to adopt the sp

[2016-05-26 09:55] petemounce commented on #26
Pardon me, it was @Dieterbe.

[2016-05-26 10:46] Dieterbe commented on #26
yup, me. Hi. the response to adption question is quite interesting. lots of people have reached out and said they're interested in adopting and "like the ideas in the spec". However almost all the listed implementations are my doing and i only know of 1 other person who adopted it in his project.  So I think there is some friction somewhere that makes metrics2.0 hard to adopt. I actually recently

[2016-05-28 05:44] #23 closed

[2016-05-30 10:12] ycx2014 commented on #17
@Liwoj  https://github.com/etishor/Metrics.NET/pull/124

[2016-06-08 22:57] orlandow opened #28 "Is there a way to just provide a url path for the http endpoint?"
From https://github.com/Recognos/Metrics.NET/wiki/Http-Endpoint-with-Charting-App

I want to have the charting app running on my hosted environment as well, not just localhost. I have several environments and managing the server names between them is a pain.

I'd like to be able to do:

`Metric.Config.WithHttpEndpoint("/metrics");`

and have it hosted at `http://whateveryourserveris/metrics`.

Is

[2016-06-08 23:05] orlandow commented on #28
I see you are using a regex to match the provided url:

[MetricsHttpListener.cs#L89](https://github.com/Recognos/Metrics.NET/blob/master/Src/Metrics/Visualization/MetricsHttpListener.cs#L89)

[code]

and later using that prefix to perform a substring on the incoming request.

[code]

I guess you could check if the `prefixPath` length is zero and strip the server part from the incoming request...

[2016-06-09 09:37] Liwoj commented on #28
In hosted environment, using WithHttpEndpoint (uses HttpListener in the background) doesn't make much sense imho. Take a look at [OWIN Adapter](https://github.com/Recognos/Metrics.NET/wiki/OWIN-Metrics-Adapter). I'm using it in ASP.NET MVC app hosted in IIS and it works like a charm...

[2016-06-09 14:51] orlandow commented on #28
Thanks, I'll check that out.

[2016-06-09 14:51] #28 closed

[2016-06-15 19:49] hedrie opened #29 "Change default context name"
Is there a way to change the default context name?
Right now, I configured metrics.net to report to graphite using [hostedgraphite](https://www.hostedgraphite.com/) as the host. It has the precondition that all the sent metrics must have a prefix with my app API_KEY (a guid).
Metrics.net is always prefixing `[HOST.APP_NAME]`. I would like it can be `API_KEY.[HOST.APP_NAME]`. I also need API_KEY to

[2016-06-28 02:54] Paccc commented on #29
You can set an Environment variable or an appSettings key of `Metrics.GlobalContextName` with the context name that you want. It tries to read these variables on startup when setting the global context name. If neither are set then it defaults to the context name that you see.

[2016-07-06 13:26] rdghickman opened #32 "dotnet core support"
Is there currently any plan for the Metrics.NET library to be made compatible with the dotnet core framework? If not, are you open to any PR that may attempt this?

[2016-07-11 13:06] epeshk opened #33 "TimerMetric doesn't mark userValue in 'meter'"
https://github.com/Recognos/Metrics.NET/blob/master/Src/Metrics/Core/TimerMetric.cs (47)

Possible bug
Timer mark userValue in 'histogram', but not in 'meter', and meter values can't be splitted by userValue's

(47) line should be:
`                this.meter.Mark(userValue);`

Pull request to fix it: #34

[2016-07-12 19:13] niemyjski commented on #32
+1

[2016-07-13 06:19] rdghickman commented on #32
Currently I see a bunch of dependencies that are blockers (though these are mostly not for the actual core Metrics code) and a few things in the actual codebase that are not in dotnet core namespaces (Configuration, the MethodImpl.Synchronized attribute, some things in the Environment, etc.). I'm not an expert at porting this stuff but the effort is not completely trivial. There's some question he

[2016-07-13 13:27] niemyjski commented on #32
I'd just target only netstandard and be done with it (it should work everywhere).  This site really helps with upgrading packages: http://packagesearch.azurewebsites.net/ More things in environment have been moved around and some will be coming back this fall. If you have any questions, please let me know.

[2016-07-13 14:55] rdghickman commented on #32
I tend to agree about only supporting `netstandard`. I'll update this thread if I do end up with a working port of this, but I can't commit to it as of right now.

[2016-07-15 20:04] tsibelman commented on #32
I also took a look , it looks the biggest problem is HttpListener that is removed from .net core, it replaced by Kestrel web server.  I think it will be much easier to port Metrics if it could be separated into core project and one or more extensions projects. This way it would be possible to move gradually to .net core, also it will provide leaner and cleaner core library. If maintainers see it a

[2016-07-15 22:31] niemyjski commented on #32
Why would a metrics project have a http listener?

[2016-07-16 06:32] tsibelman commented on #32
It used for pulling metrics data from application, also it used by build in web ui

[2016-07-24 17:39] PaulParau commented on #33
Good catch! The PR was merged & new version released.

[2016-07-24 17:39] #33 closed

[2016-07-25 16:49] tsibelman commented on #32
@PaulParau What do you think about my suggestion would you accept such pull request where I  separate Metrics into core project and one or more extensions projects?

[2016-07-25 21:09] PaulParau commented on #32
In principle yes, splitting optional parts from the "core" sounds like a good idea. We had thought about separating components such as the Elastic Search and InfluxDB reporters into separate projects. Not only would this improve the maintainability of the entire project but, like you said, it would make it easier to eventually add dotnet core support.

Do you have an idea about what would have to

[2016-07-30 13:39] PaulParau opened #37 "Adapter support for endpoint reporters"
The Owin and Nancy adapters do not currently work with the new endpoint reporters model. Mentioned in #27.

[2016-07-30 14:00] PaulParau commented on #32
I've discussed this further with the team: we're OK with removing optional parts (e.g. reporters I mentioned), but we'd rather not remove features like those served by the HttpListener. Without those, the core metrics library would have no built-in reporting support and would need to be used together with another package.

[2016-07-30 14:06] tsibelman commented on #32
In this case HttpListener based implementation need to be rewrite to use Kestrel web server for this purpose. I will take a look into how complex it is.

[2016-08-01 21:47] vic10us opened #38 "When implementing external endpoint reporters and app/web.config contains "Metrics.HttpListener.HttpUriPrefix", registration is attempted more than once and fails silently."
When I try to register (just an example using Metrics.NET.Prometheus)

[code]

if the app.config contains Metrics.HttpListener.HttpUriPrefix key it will try to register the endpoint twice. Once for the base implementation and again when it attempts to add the report endpoint. Since the base endpoint is already registered it simply returns without error.

[2016-08-08 20:14] maxcherednik opened #39 "Error handling in the reporting timer"
Once there is an exception during metrics reporting—csv file was locked, elastic search wasn't reachable and so on, I would rather skip this reporting point and had the next one. What we have at the moment — it stops forever.

[2016-08-20 19:16] mribichich commented on #32
+1

[2016-09-15 20:43] nathvi opened #42 "Generated CSV File Name isn't correct. You guys need to remove spaces."
[ComputerName.ConsoleApplication17_vshost - Application] ConsoleApplication17.vshost Uptime Seconds.Gauge

^ This is the name of the file that is generated for Excel to read.

It needs to be in this format.
[ComputerName.ConsoleApplication17_vshost - Application] ConsoleApplication17.vshost UptimeSeconds.Gauge

[2016-09-15 20:44] nathvi commented on #10
...

[2016-09-20 13:55] alhardy commented on #32
+1

[2016-09-22 12:52] alhardy commented on #32
I've copied across the Metrics.NET core project to my aspnet core integration project and stripped it down so it could be upgraded to dotnet core. Stripped down but it works! What's been removed?

- Remote Metrics related stuff
- HttpReporter (I do still get the /json endpoint using the middleware i've written in aspnet core)
- CSV Reporter
- All the other reporters graphite, influxdb
- Performanc

[2016-09-26 15:22] PaulParau commented on #32
While I agree with removing the evidently non-core stuff (reporters - separating them is actually in progress), I'm a bit concerned about the others (e.g. HttpListener, Visualization - I think it's still useful in certain scenarios).

.NET Core support is not a priority for us now (we're focusing right now on getting the next stable release out the door), but we'll look into it and clarify whether

[2016-10-20 11:26] Liwoj commented on #10
Counters API sucks. Its better to not use it at all.
Just remove `.WithAllCounters()` from configuration...

[2016-11-02 04:21] rudygt commented on #32
I worked on this some time ago, I got the basics working on core using nancyfx + kestrel for the self hosting. the ui works.

there is the branch if someone wants to give it a look

https://github.com/rudygt/Metrics.NET/tree/CoreClrPrototype

Regards

[2016-11-08 16:07] aazizorg opened #43 ".NET Core"
The project this is forked from has an issue (https://github.com/etishor/Metrics.NET/issues/133) about .NET Core support, but it seems to have been untouched for most of this year and this fork being more up to date.

Is there any plans to add a .NET Core build to Metrics.NET?

[2016-11-08 18:41] Reonekot commented on #43
Two issues Down #32
https://github.com/Recognos/Metrics.NET/issues/32

[2016-11-08 18:43] #43 closed

[2016-11-21 14:57] Andrei-Rinea opened #44 "Server farm aggregation support"
Is there some adapter or recommendation / best practice for aggregating metrics in a server farm?

For example I have a project that runs on 4 servers and I would like aggregated metrics for the whole farm besides the local metrics. Any idea on this?

Thanks!

[2016-11-22 20:41] shawnarvin opened #45 "Call to Metric.Config never returns"
Hi,
I am using Metrics.NET v0.3.7 with Nancy.Metrics v0.3.7 and Nancy v1.4.3. In my bootstrapper the following call to Metric.Config never returns:

                Metric.Config
                    .WithAllCounters()
                .WithReporting(r => r.WithConsoleReport(TimeSpan.FromSeconds(30)))
                .WithNancy(pipelines) ;

There are no indication of any errors. Any Idea what might

[2016-11-22 21:37] PaulParau commented on #44
Hi Andrei,

I think the best solution would be to report metrics from each of the machines to a centralized location (e.g. reporting to Graphite / some other db) and dealing with aggregation at that centralized level. You can have a look at a list of reporters [here](https://github.com/Recognos/Metrics.NET/wiki/Metrics-Reporting) and you can also write your own reporter if you so choose.

As a sid

[2016-11-23 16:31] PaulParau commented on #45
Hi,

I've looked into it and wasn't able to reproduce the issue. We're actively using Nancy.Metrics v.0.3.7 and Nancy 1.4.3 in various environments and it works (admittedly with Metrics.NET v.0.4.1-pre). I've tried downgrading Metrics.NET to v0.3.7 and it still works. I've also tried to reproduce the error in the NancyFx.Sample project here in the repo & it works as well.

Is it possible for you t

[2016-11-23 18:34] shawnarvin commented on #45
Thank you for taking the time to look into this. Once I removed the call to "WithAllCounter()" ,things seems to be working. Surprisingly the metrics route also works without this call, so I am not sure if it was needed at all or there is some data that is not getting collected. I am still getting familiar with this tool but haven't seen any negative effects by not call this method. The metrics rou

[2016-11-23 18:41] shawnarvin commented on #45
One thing I forgot to mention is that I am using .NET framework 4.6.1.

[2016-11-30 09:35] Liwoj commented on #45
Hi

My guess is the problem is in "WithAllCounters()" call (as you found yourself). Call just creates some metrics based on Windows performance counters.
It seems performance counters API is very unreliable. Reading them can hang your app forever for example (see [here ](https://groups.google.com/forum/#!searchin/ravendb/performance$20counters/ravendb/10hNdY66JWQ/I5VDJSgImOgJ) or [here](https://gi

[2016-12-01 12:09] PaulParau commented on #45
@Liwoj you're probably right. There's also the related issue #10, will do something about it in the near future.

[2016-12-02 20:19] PaulParau commented on #10
I fixed this in the latest prerelease build [v.0.4.5-pre](https://www.nuget.org/packages/Metrics.NET/0.4.5-pre). I've also added a warning in the xml documentation & removed `.WithAllCounters()` from the samples.

[2016-12-02 21:01] PaulParau commented on #37
Stable release in v0.4.4

[2016-12-02 21:01] #37 closed

[2016-12-02 22:08] #29 closed

[2016-12-02 22:45] PaulParau commented on #42
Hi,
Sorry it took so long to respond. Could you please clarify why the current behavior is wrong? If you named your metric "Uptime Seconds" then that is what is going to appear in the name of the CSV file, or am I misunderstanding your question?

[2016-12-05 23:52] PaulParau commented on #38
Hi, I changed it in the latest version ([v0.4.6-pre](https://www.nuget.org/packages/Metrics.NET/0.4.6-pre)): an exception is now thrown upon startup if an http endpoint is configured twice.

[2016-12-06 00:03] PaulParau commented on #39
Hi,

In the latest version ([v.0.4.6-pre](https://www.nuget.org/packages/Metrics.NET/0.4.6-pre)) you can configure the tolerance to failure of reporters through a config key. You can leave the behavior as it is now (it's the default option), specify unlimited tolerance to failures (it will baiscally never stop trying to report) or you can configure a certain number of consecutive errors to tolerat

[2016-12-12 09:05] jruizaranguren opened #46 "Automatic load of EntLib logger"
I'm trying to enable Metrics.Net 0.4.4 in a web project using Nancy 1.4.3. I'm using the following activation code in ApplicationStartup method:

[code]

I have a reference to Enterprise Library logging dll's (4.0.0) because a third party library makes use of them. I'm not using them directly and I do not have any configuration of those libraries in my web.config.

When I launch the web service I'

[2016-12-12 09:53] jruizaranguren commented on #46
The problem is generated by LibLog library. It can be circumvented at least in two different ways:

- Adding a logging framework with a higher priority in LibLog: Serilog, NLog or Log4Net.
- Implement a custom `ILogProvider` and set it through `LogProvider.SetCurrentLogProvider(customLogProvider)`

[2016-12-14 00:03] PaulParau commented on #46
You are correct, Metrics.NET uses LibLog to provide logging capabilities, which tries to load supported logging frameworks automatically through reflection. The workarounds you mentioned should work, but aren't ideal.

Looking throught the LibLog code, I noticed that each logger provider implementation has a `ProviderIsAvailableOverride` property, which, if set to false, should disable the particu

[2016-12-23 21:34] PaulParau commented on #38
Fix released in the latest stable version [v0.4.7](https://www.nuget.org/packages/Metrics.NET/0.4.7)

[2016-12-23 21:34] #38 closed

[2016-12-23 21:35] PaulParau commented on #10
Fix released in the latest stable version [v0.4.7](https://www.nuget.org/packages/Metrics.NET/0.4.7)

[2016-12-23 21:35] #10 closed

[2016-12-23 21:35] PaulParau commented on #39
Fix released in the latest stable version [v0.4.7](https://www.nuget.org/packages/Metrics.NET/0.4.7)

[2016-12-23 21:35] #39 closed

[2016-12-23 21:39] PaulParau commented on #44
Hi, I'm closing this issue. If you have any other questions, feel free to ask!

[2016-12-23 21:39] #44 closed

[2016-12-23 21:43] PaulParau commented on #45
Since this is most probably an issue with the performance counters API, there's not much we can do about it besides what we have done for #10, so I'm closing this issue.

[2016-12-23 21:43] #45 closed

[2016-12-28 14:06] jruizaranguren opened #47 "Nancy.Metrics adapter: when path is changed, other routes requests are not captured"
I have tried to change the path where metrics dashboard is shown, by using:

[code]

The Metrics dashboard is shown at that path, but the problem is that it does not record any data sent to other nancy modules paths.

If I use the default path, whenever I make a request to a new path, I can add timers, etc. in the metrics dashboard. I add the default configuration that captures all requests for th

[2017-01-21 19:15] PaulParau commented on #47
I'm not able to reproduce this issue with the latest version. What version of Nancy.Metrics & Metrics.NET are you using?

[2017-01-26 08:59] jruizaranguren commented on #47
Metrics 0.4.4
Nancy.Metrics 0.4.4
Nancy 1.4.1

[2017-01-31 22:40] PaulParau commented on #47
I am still not able to reproduce this issue. I created a test project based on the [Nancy Sample Project](https://github.com/Recognos/Metrics.NET/tree/master/Samples/NancyFx.Sample) included in the repo, installed the exact versions you specified, configured metrics with your code snippet and the dashboards works, it correctly shows data recorded from all metrics (you were saying that the dashboar

[2017-02-07 05:14] mcapodici opened #50 "Registry Errors in Event Viewer, and application crash (unmanaged code) stemming from Metrics Code"
Hi

I wondered if anyone is getting a similar error. We are using Metrics.NET, latest source as of today in a service application. When the service starts we usually get this error below (anonymized) in the event log, and at the same time the process bombs out. Starting the service again immediately it works OK, but if it has been a few minutes since the last restart we get the error.

[code]

Doi

[2017-02-07 19:52] glennular opened #51 "Content-Type reverted"
Went to get the newest nuget  and found that the fix for Content-Type is not in

747a89d25e1ee78532c696f9ee339d641ad1b60d

See https://github.com/Recognos/Metrics.NET/blob/master/Src/Adapters/Owin.Metrics/Middleware/MetricsEndpointMiddleware.cs#L98

Can you resolve @PaulParau ?

[2017-02-08 18:44] PaulParau commented on #51
No idea how that happened, probably some botched merge; I've fixed it in the latest nuget package.

[2017-02-08 18:46] glennular commented on #51
Thanks.

Yea, I tried to follow the commit trail, but couldn't figure it out either

[2017-02-08 18:59] PaulParau commented on #50
I've never seen this kind of issue before. From what I gather from your stacktrace, the exception happens somewhere inside the .NET framework. The last trace in the Metrics.NET library `Metrics.Utils.ActionScheduler.RunScheduler` just creates a new task and executes some action - probably reporting - periodically.

Does it still happen if you disable Metrics.NET (you can easily do so by setting th

[2017-02-10 14:57] BrightLight opened #52 "Please provide strongly named assembly"
Can you please sign the Metric assembly which is used by the nuget package so that it can be used by strong-named assemblies?

Thanks,
Markus

[2017-02-10 18:24] maxcherednik commented on #52
There is always a request like this:)

[2017-02-12 21:50] mcapodici commented on #50
HI Paul, thanks for your reply. I have just tried starting the service with Metrics.CompletelyDisableMetrics set to true and the problem still happens.

[2017-02-14 13:10] SkyterX opened #53 "Connection failures of remote reporters"
Currently, when any of remote reporters (ElasticSearch, Graphite, InfluxDB, etc.) loses connection to the host and sending metrics starts throwing exceptions, its task is eventually killed by ScheduledReporter (depending on allowed number of errors).
After that, the only way to restore reporting is to restart whole application.
This is a pretty typical scenario, for example, when the remote host i

[2017-02-14 15:53] AshleyPoole opened #54 "Disabling Authentication For Metrics Endpoints"
While using Metrics.Net with the OWIN adaptor as part of a MVC 5 application using Windows Authentication, how is it possible to allow anonymous access to just the metrics.net endpoints? Tried via the web.config but not much luck.

Background, OWIN was added to the project in order to host Metrics.NET so was previously not hooked into the project.

[2017-02-14 16:10] FrankBakkerNl opened #55 "Retrieve multiple guages in a single callback"
I have a scenario where I want to report on multiple guage's which all depend on the same possibly expensive operation (like retrieving from a database). I want to avoid peforming this operation for each individual guage, but instead retrieve the data once for each report and then report each value as a separate guage.

I thought this could be done by using a DerivedGuage, but this seems to requir

[2017-02-21 22:06] maxcherednik commented on #53
Wasn't there a -1 setting to retry eternally?

[2017-02-22 16:13] markrendle commented on #52
@maxcherednik There is, and I've always been annoyed by them, but at the end of the day big enterprise users like banks and public sector organisations have requirements for strong-naming of their own assemblies which means third party assemblies have to be strong-named too.

In this case there's not much to prevent it, since both the upstream dependencies are source packages. The real nightmare i

[2017-02-23 13:47] SkyterX commented on #53
Yes, there is this setting, but there are still some issues with how it's implementation:
1. The default value of this setting is 0 (break on first error), while the value -1 (retry forever) seems much more reasonable in a production environment. Network errors happen, and you don't expect your metrics to break because of that. Adding this setting for graphite reporting was a breaking change. The

[2017-02-23 22:11] orenht opened #56 "Add Frequency Counter Metric"
Hi,

I needed to measure the exact frequency of a certain field showing up in a data structure.
First, I considered to use a histogram, but I needed an exact measurement, not median, average or 95% percentile etc.. So I ended up writing my own class - FrequencyMap<Tkey>, that maintains an inner Concurrent Dictionary of <Tkey, Counter> and creates a child context of the provided context, so that al

[2017-02-24 08:03] maxcherednik commented on #56
How is this different from rate, which provided by Timer?

[2017-02-24 12:07] orenht commented on #56
I missed that the rate exists (it is not in the wiki, for example).
However, I'm not sure how one would use it to query the frequency of a certain field, like I implemented in my custom class.
Could you elaborate on how user code would use this property?

[2017-02-24 12:26] maxcherednik commented on #56
Actually, I didn't quite get your case. Here is a Timer's [wiki](https://github.com/Recognos/Metrics.NET/wiki/Timers) There is a timer in general and also context based counter, where you can set the counter name per message type, lets say.

[2017-02-24 12:51] orenht commented on #56
I'm not interested in the timing aspect.
Let's say I have a class that processes a certain structure, and one of its fields is a
`byte requestType`
I want to measure the exact frequency of each type (in the entire class lifetime). That's why I used a dictionary of TKey to Counter in my implementation.

[2017-02-24 14:06] maxcherednik commented on #56
But frequency/rate is about count per unit of time, isn't it?

[2017-02-24 14:41] orenht commented on #56
Yeah, I think I get it.
I just had a thought, am I completely missing something? What about the Counter.Increment(string item) method, Wouldn't it solve my problem?

[2017-03-01 05:21] mikeminutillo opened #57 "Change Global Context name via API"
The default global context name is `[HOST].[PROCESS]`. This can be overridden by setting a config key or an environment variable. I would like to be able to dynamically change the context name using code during application startup. Something like the following would be fine.

[code]

[2017-03-02 01:15] mcapodici commented on #50
On further investigation, I think this exception detailed is just a first chance and is swallowed by .NET and was not the cause of the crash. So I will close this.

[2017-03-02 01:15] #50 closed

[2017-03-02 03:53] mcapodici opened #58 "NullReferenceException thrown inside Metrics Library"
I found an exception from the Metrics library written to our logs. I also have a fix which I will create a pull request for soon.

To reproduce the problem, create a new console application and add the v of Metrics.NET using NuGet. Paste the following Program.cs, enable exception debugging then start debugging from Visual Studio:

[code]

There are other ways to reproduce i.e. it is not specific t

[2017-03-02 05:46] SkyterX commented on #58
I couldn't reproduce the issue. Could you provide more info about targeting/installed .NET frameworks and compiler version on your machine? Also, a working solution with all proper settings would be very helpful.

The problem is very strange because the code generated by the compiler is equivalent to the suggested fix:
[code]

[2017-03-02 15:19] cfletcher opened #60 "Visualisation doesn't work when Health and JSON endpoints are moved."
Reposting my experience, similar to the issue in the other repo here: https://github.com/etishor/Metrics.NET/issues/127

I want to move the paths for the endpoints to deconflict with other aspects of our web application...

What I've got is:

public class WebApp
    {
        public void Configuration(IAppBuilder app)
        {
        			Metric.Config
				.WithAllCounters()
				.WithReporting(r =

[2017-03-02 22:01] mcapodici commented on #58
Target Framework: .NET Framework 4.5.2
Platform Target: Any CPU
Prefer 32-bit (checked)
Machine is 64-bit.

With the fix the compiled code (viewed with dotPeek) is different, you get just this:

`internal static readonly MetricsContext Internal = new DefaultMetricsContext("Metrics.NET");`

Looking at other issues on stack overflow e.g. http://stackoverflow.com/questions/7400438/why-this-static-con

[2017-03-03 17:41] SkyterX commented on #58
Ok, I think I've figured it out. The problem is not with the order of static fields and constructor initialization.
By default, dotPeek shows you sources based on .pdb files. If you look at 'Decompiled sources', you will see all the initialization moved to the static constructor:

[code]

The difference in the current implementation is that the field `Internal` is accessed via property getter.
An

[2017-03-03 18:47] SkyterX opened #61 "Circular dependencies in static constructors"
There are some circular dependencies between static fields.
For example, `MetricsErrorHandler` creates global error meter using static members of `Metric` class and static field initializers of `Metric` class handle exceptions by passing them to `MetricsErrorHandler`.

Moreover, the class `MetricsErrorHandler` doesn't have an explicit static constructor, so compiler marks it with `beforefieldsinit

[2017-03-03 18:48] SkyterX commented on #58
#61

[2017-03-05 14:17] #56 closed

[2017-03-06 04:26] ksedlazek opened #62 "Prometheus metrics mapper"
If anyone is interested, I wrote the following mapping from Metrics.NET to Prometheus (the data contract is the generated C# from the proto file).  Check my fork to see the implementation of the Prometheus endpoint, which allows Metrics.NET to be a Prometheus target.

[code]

[2017-03-21 18:33] slawomirbrys commented on #32
Is anybody working on porting this lib to .Net Core?

[2017-03-21 19:45] niemyjski commented on #32
I'm not sure, I've been trying to gauge when this will be available so I can update our foundatio metrics implementation for this lib (https://github.com/exceptionless/Foundatio#metrics)

[2017-03-21 20:49] alhardy commented on #32
@slawomirbrys  I tried by providing a POC. I ended up porting Metrics.NET to https://github.com/alhardy/AppMetrics. Things slowed down since @etishor unfortunately.

My port is a significant refactor, some functionality is removed to support running on core as mentioned in previous comments, however new functionally also exists.

I've was using Metrics.NET for years and contributed the OWIN packag

[2017-03-23 07:19] LeonidVasilyev opened #64 "Does UniformReservoir thread safe?"
Current version of UniformReservoir stores values in array of `UserValueWrapper`. `UserValueWrapper` is a value type that consists of two fields. One of them is of type `long` and the other one is of type `string`. `UserValueWrapper` is larger that any native word. UniformReservoir `Update()` stores new values without locking or interlocked operations. `GetSnapshot` doesn't use locking or interloc

[2017-04-03 03:46] Spiralis opened #65 "Create an end-report when my app is done?"
I have a small app I have made, where I want to end the run with metrics.net creating a summary.

In this scenario I am not interested in appending the data to a database while the app is running. I don't even need the http-endpoint. I do however find the ability to count and measure using metrics.net interesting.

But, how would I go about to report the results in the console at the end of the ap

[2017-04-06 07:21] danielmarbach commented on #32
it seems HTTPListener is coming back https://github.com/dotnet/corefx/blob/master/src/System.Net.HttpListener/src/System/Net/HttpListener.cs

https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

Maybe targeting .NET Standard 2.0 will be a good option?

[2017-04-06 08:56] niemyjski commented on #32
I'd remove it, things like that shouldn't be in the core library, it should
be an extension.

Thanks
-Blake Niemyjski

On Thu, Apr 6, 2017 at 2:21 AM, Daniel Marbach <notifications@github.com>
wrote:

[2017-04-13 07:31] leee66 opened #66 "Why can I not get the correct value of some custom-defined Tag?"
Hi,
I custom-defined 5 tags—named as AppID, ServerIP, ProcessName, PageName and FunctionName respectively, and then I passed them to the method named as Metric.Histogram(). My code is as follows.
In the file name as MetricsHelper.cs:
static MetricsHelper()
        {
            string uri = ConfigurationManager.AppSettings["Metrics.DBUri"];
            string user = ConfigurationManager.AppSetting

[2017-04-17 09:54] PaulParau commented on #66
Hello,

First of all, your two methods, `SearchFlight1` and `SearchFlight2` both ultimately end up calling `Metric.Histogram` with the same name - "MetricsDemo.SearchFlightTime". What `Metric.Histogram` does, is if a histogram by that name does not exist, then it creates it with the specified parameters, otherwise it just returns the existing histogram (basically a Get or Add behavior). So when yo

[2017-04-18 11:47] leee66 commented on #66
@PaulParau
If I use two different histograms to track the two methods, the two metric keys will be produced ------ one is named as MetricsDemo.SearchFlightTimeGetFlight1Info, and another is named as MetricsDemo.SearchFlightTimeGetFlight2Info. If I want to produce only one metric key ------- MetricsDemo.SearchFlightTime and then distinguish via WHERE clause of InfluxDB to track the two methods, is

[2017-04-19 10:23] PaulParau commented on #66
As far as I know there is currently no way of tracking two different methods with the same metric instance.

Regarding metric name/keys, you can have two different metric instances with the same name/key, but they have to be in different contexts.

[2017-04-23 12:19] Spiralis commented on #65
It seems like I can do a manual `ConsoleReport` at the end of the run of my app, or even a `TextFileReport` (as the app could benefit on persisting the history).

`ConsoleReport` and `TextFileReport` inherits `HumanReadableReport` which inherits `BaseReport` which in turn implements the `MetricsReport` interface. This interface has a `RunReport` method, which it seems I can use. The signature, `vo

[2017-04-23 13:03] Spiralis commented on #65
Ok. I think I solved this. By reading the sourcecode I found that the `Metrics.Advanced` property was of type `AdvancedMetricsContext`:
[code]
Where `globalContext` is:
[code]
And is set in the constructor:
[code]

So, in a bold attempt I casted the Advanced property to MetricsContext and then I got it working!

The end code for creating the report is then:
[code]

Not sure if this is the recommen

[2017-04-27 15:17] #42 closed

[2017-05-08 08:08] tsibelman opened #67 "About fixing bug in Flot Visualisation"
We want to fix bug with visualization in metrics but we see that the all the code is inside https://github.com/etishor/Metrics.NET.FlotVisualization assembly

How can we give you a pull request ? I can fork above assembly and make a change and build and give you corrected Metrics.Endpoints.index.full.html.gz . Is it OK ? Or you would like some different way doing this ?

[2017-05-08 23:23] PaulParau commented on #67
Hi,

I think the best way to do it is for us to clone it over here under the Recognos organization, as we have done with the other repos (we missed this one for some reason). I'm going to do it tomorrow, and then you can make a normal PR.

[2017-05-09 10:12] PaulParau commented on #67
I've cloned the project [here](https://github.com/Recognos/Metrics.NET.FlotVisualization) so we can maintain this part of the library as well. Feel free to submit a PR with the bugfix.

[2017-05-09 11:03] tsibelman commented on #67
Great, thank you very much.

[2017-05-09 16:59] orenht opened #68 "Add tags to health checks"
I would like to tag my health checks in order to divide them by subject, both for viewing and making a custom http report that reports only certain tags.

I assume this would involve changing the classes related to the health checks, and also all of the reporters... Maybe the default should remain as it is now, and an API will expose an option to report the tags too.

What do you say?

[2017-05-10 06:31] tsibelman commented on #67
My collegue had made a pull request there

[2017-05-15 07:01] tsibelman commented on #67
Hi @PaulParau we saw you accepted the PR in other repository, when do you plan to integrate it into this repository ? Also we would like to have a version of metrics with this fix.

[2017-05-15 18:43] PaulParau commented on #67
Hi, I'm currently having some trouble building the UI solution and this is in turn preventing me from updating the visualization app inside the main repository.

I don't know yet what the cause is, but I'll try more tomorrow.

[2017-05-16 18:25] PaulParau commented on #67
@tsibelman I finally managed to build the UI solution. I've integrated the latest version of the visualization app in the dev branch, and released it as part of version 0.5.2-pre of Metrics.NET.

[2017-05-16 18:35] tsibelman commented on #67
It great to here @PaulParau , thank you very much.  BTW what is your policy for moving prereleas to release ? Will you release 0.5.2 soon after 0.5.2-pre ? Or it could take a while ?

[2017-05-16 19:16] PaulParau commented on #67
We usually wait a period of time (how long depends on how big the changes are) after releasing a prerelease version, so people get a chance to install the new version and report any issues.

In this case, I want to make sure that nothing went wrong with building & updating the UI, since it's the first time we did this in a while. I think a few days to a week should be enough, depending on the numb

[2017-05-17 07:50] x00n opened #69 "Owin adapter return wrong content-type"
Hi all,

I would like to add metrics to my owin based application. I used the code snippet on the owin adapter page and referenced the two assemblies from nuget. Everything works fine but the dashboard. In fact when I connect to the dashboard the browser shows not the render of the response HTML but the HTML itself, also in the browser console there is a message saying that the returned type is Js

[2017-05-17 12:57] tsibelman commented on #67
We tested the 0.5.2-pre nuget looks like the ui do not contains the changes. Generally we would like to get stable version of nugets for our production deployments, so we would love to get it soon after the prerelease.

[2017-05-17 15:08] PaulParau commented on #67
That is weird, I'm sure I added the new UI version. I'll check & get back.

[2017-05-17 15:22] tsibelman commented on #67
Ok thank you.

[2017-05-17 15:49] PaulParau commented on #67
I checked and the fix your colleague made gets removed by the build process (see [here](https://github.com/Recognos/Metrics.NET.FlotVisualization/issues/1). I did not check this before accepting the pull request so v0.5.2-pre does indeed not contain the fix. (good that I released it as prerelease :) ).

[2017-05-23 18:08] vic10us commented on #62
There is already a Prometheus adapter Metrics.NET.Prometheus.

[2017-05-23 18:42] vic10us commented on #62
https://www.nuget.org/packages/Metrics.NET.Prometheus

[2017-05-26 17:41] orenht commented on #68
Hey, I created a pull request to solve this issue. Tell me what you think :smile:

Pull request #70

[2017-05-29 22:26] ainglese opened #71 "owin adapter"
HI, looking at this sample there is the option to change owin endpoint routes: https://github.com/Recognos/Metrics.NET/wiki/OWIN-Metrics-Adapter
[code]

but i cant find an api such as `.MetricsJsonEndpoint();` i've made a search in the source code and it is not even present.

am i missing something?
thanks

[2017-05-31 21:01] slaneyrw opened #72 "Graphite still pre-release"
With version 0.5.1 released upgrading from 0.4.7 is not possible when using Graphite as the external library Metrics.Net.Graphite is still pre-release

[2017-05-31 21:25] alex-davidson opened #73 "Facility for metrics which 'come and go'"
I've been trying to figure out how to hook into the data provider to do this, but can't quite see where to make it fit, so...

Use case: report on available disk space using WMI queries. Entire Metrics set is dumped to JSON periodically.
Problem: Each disk needs its own gauge, but the disks attached to the system may change over time. If a disk is removed, its gauge should be removed (absence of t

[2017-06-01 22:16] PaulParau commented on #71
Those methods were removed in version 0.4.3-pre I believe, when support for endpoint reports was added and the documentation was not updated, thanks for pointing this out.

Endpoint configuration is now done everywhere through the `MetricsEndpointReports` class, and the current API registers a set of reports at default endpoints (e.g. /text, /json, /health etc.). You cannot remove these endpoints,

[2017-06-02 09:02] ainglese commented on #71
ok, thanks!

[2017-06-05 20:43] cocowalla commented on #32
@niemyjski I'd have to agree.

Visualisations and an HTTP endpoint are definitely nice to have for *some* systems, but I certainly don't see them as a _core_ part of a metrics library. I struggle to see any reason not to have these as separate packages.

@PaulParau is there likely to be any movement on this in the near future, or is [App.Metrics](https://github.com/alhardy/AppMetrics) now the best

[2017-06-06 20:37] niemyjski commented on #32
@cocowalla you could also check out foundatio :) https://github.com/exceptionless/foundatio#metrics

[2017-06-06 21:32] cocowalla commented on #32
@niemyjski actually, I did have a look yesterday :)  But I'm already using Serilog for logging, am using Quartz.net for jobs, have already implemented my own async queue, and have already implemented my own in-memory caching mechanism. The only bit I'm missing is metrics.

Could have saved some time if I'd been aware of foundatio beforehand!

[2017-06-06 22:58] bpowers commented on #58
I'm getting this as well, when following the instructions on the "Getting Started" wiki page (v0.5.1 from nuget):
[code]

Is there any workaround for this that would let me run and evaluate the library while larger refactoring issues are considered?

[2017-06-07 00:35] mcapodici commented on #58
@bpowers you could try merging in this fix I did earlier: https://github.com/mcapodici/Metrics.NET/commit/22f347e408d0ffdcb703af31088f19f84ecbf954. I don't think this will be the fix they eventually use, but it may get you over the hump for now.

[2017-06-07 23:44] PaulParau commented on #58
I didn't manage to reproduce the issue on my machine. Still, I have merged your request @mcapodici and I've added an empty static constructor to the `MetricsErrorHandler` class as @SkyterX suggested. You can find these changes in version 0.5.3-pre, I hope they fix the issues you were having @bpowers .

[2017-06-11 07:29] orenht opened #74 "Add configurable history times for meter"
Hi,

I need to measure the rate of events for a long duration, such as a day or a week.
Right now, the meter only shows recent measurements (1,5, and 15 minutes).

I suggest to add an option to be able to determine these durations programmatically.
I am willing to make a pull request if you think this change is good.

[2017-06-12 16:59] alex-davidson commented on #55
I think Gauges are really for when you already have the value somewhere in-process and merely want to let Metrics.NET read it. What you want here is presumably a periodic task which fetches the values and *pushes* them to Metrics, perhaps via a Histogram. Or possibly have that periodic task update an object which is read via Gauge.

[2017-06-12 17:46] alex-davidson commented on #73
I think I've found what I was looking for in the form of AdvancedMetricsContext#AttachContext. It means implementing an entire MetricsContext, but mine's read-only and doesn't need to support the methods which add Counters, etc.

[2017-06-12 17:46] #73 closed

[2017-06-19 14:23] andreminelli opened #75 "Add support for 'clean' reporting stop"
It will be very handy (when an application is shutting down) to provide a way to cleanly stop reporting so that all reporters could have a chance to flush latest metrics data.

Is there any workaround available at the current version?

[2017-06-22 08:39] yar1k0v opened #76 ".net standard support"
Hi, is there any plans on porting the library to .net standard ?

[2017-06-26 12:06] orenht opened #77 "Owin adapter returns wrong content type for flot web app"
In the class MetricsEndpointMiddleware, the content type returned for the flot app is application/json, when it needs to be text/html I believe.

This was not discovered until now, because there was another bug in the content type header(it was sent as ContentType, without the '-'). So it defaulted to html, and everything worked.

I'd love for a quick fix for this one, and uploading to NuGet.
Than

[2017-06-26 22:12] PaulParau commented on #77
Hey, thanks for pointing this out! A classic case of one bug cancelling out another :)

I've fixed it and released version 0.5.4 of the [Owin.Metrics](https://www.nuget.org/packages/Owin.Metrics/) package.

[2017-06-26 22:15] PaulParau commented on #69
Hello,

There was indeed a bug with the content-type of the web app (it was mistakenly set to application/json instead of text/html - see issue #77 ).
It was fixed in the most recent version of the owin adapter.

[2017-06-27 15:37] orenht commented on #77
Great, thanks.
You can resolve this issue now :)

Also, can you please take a look at some other issues and pull requests? Thank you

[2017-06-27 15:37] #77 closed

[2017-07-04 15:27] alex-davidson opened #78 "Moving averages of ratios"
I have a producer/consumer system, with a Meter for each side. RatioGauge exposes the instantaneous produced/consumed ratio, but since the producer generally starts queuing things before the consumer finishes processing any this has spiky startup characteristics, which will trigger a threshold-based alert no matter what I set the threshold to.

It would be useful to be able to monitor the moving a

[2017-07-04 18:01] Jericho opened #79 "Redundant locking?"
The `copy` and the `copyCorrectedForCoordinatedOmission` methods in `App_Packages\HdrHistogram\SynchronizedHistogram.cs` are decorated with `[MethodImpl(MethodImplOptions.Synchronized)]` (which cause a lock on `this` when the methods are invoked) __and also__ their code contains `lock(this)`.

Is this redundant locking intentional?

[2017-07-04 18:21] Jericho commented on #76
I have forked the repo and I am investigating what it would take to support netstandard. I will list the issues I discover (if any).

[2017-07-04 19:39] Jericho commented on #76
Here are the issues I found that would need to be resolved to support netstandard:

1. Several methods are decorated with `[MethodImpl(MethodImplOptions.Synchronized)]`. 'Synchronized' is not available in netstandard 1.6 (although it's rumored to be back in netstandard 2,0. I haven't verified)
2. ConfigurationManager is not available in netstandard
3. WebClient is not available in netstandard
4. W

[2017-07-04 21:54] hhansell opened #80 "Metric.Timer has NaN for Mean"
After leaving a process running for some time, I've come across the following issue.
Could someone confirm if this is a metrics.net issue or whether it is an issue for the Metrics.NET.InfluxDB project?

Thanks

`public static readonly Timer ResponseTime = Metric.Timer("Response Time", Unit.Requests);`

2017-07-05 05:45:05, 226 [22  ] Metrics: **Unhandled exception in Metrics.NET** Library Error wh

[2017-07-04 22:18] alhardy commented on #76
@yar1k0v @Jericho  see [here](https://github.com/Recognos/Metrics.NET/issues/32) for a related discussion

[2017-07-05 15:37] #69 closed

[2017-07-10 10:29] motime opened #81 "se tags to better organize metrics on the UI."
In the (hopefully near) future the visualization app will use tags to better organize metrics on the UI.

[2017-07-12 13:11] tjrobinson commented on #65
Good work. I was just after the raw data and using your code above narrowed it down to:

[code]

[2017-07-19 12:32] eagleamon opened #82 "Change default Context name (graphite support)"
Hello,

I've tried a few things before posting this this issue but without success.

I am trying to change the default name under which metrics are published to graphite.
Let's say I have an app MyApp, mettrics will be sent to graphite with name MyApp.Application and MyApp.System. I found how to change the MyAPP with the app.config but it replaces "." by "_" (as seen in the code.." and the same fo

[2017-07-20 23:40] sunkor commented on #80
On investigation, this issue arises in **Metrics.Sampling.ExponentiallyDecayingReservoir.Update** method
The **startTime** field is instantiated in the constructor and reset in ResetReservoir method.

If the instance of ExponentiallyDecayingReservoir is alive for 47319 seconds (with Default Alpha at 0.015), the Math.Exp (in Update method) returns double.Infinity causing **Mean** to be **NaN**.

`v

[2017-07-26 13:30] bronsh opened #83 "Tracking HttpEndpoint creation"
Hi
I would like to add the ability of tracking the creation of Http listener (after calling MetricsConfig.WithHttpEndpoint).
This will enable me to wait until endpoint is listening before proceeding with my process.

I would like to create a pull request, but I don't know what is the preferred way to do this.

I can think about 3 different options:
1. MetricsConfig will expose a copy of its privat

[2017-08-08 12:30] bronsh commented on #83
Hi
Please share your opinion about this issue
Thanks

[2017-08-11 04:15] hhansell commented on #80
@PaulParau could this be merged into trunk?

[2017-08-13 17:47] PaulParau commented on #80
@sunkor, I understand what you're saying, however the `ExponentiallyDecayingReservoir` gets rescaled every hour (see the `ExponentiallyDecayingReservoir.Rescale` method). The `startTime` gets reset in this method, which should ensure that the maximum difference in seconds `(timestamp - this.startTime.GetValue())` should never exceed 3600.

Under which conditions have you observed `double.IsInfinit

[2017-08-15 05:17] sunkor commented on #80
Hi Paul

I have left the organization where the dev team uses Metrics.Net, so unfortunately have to rely on my memory on how the issue gets triggered.

If you initialize a Timer (internally using ExponentiallyDecayingReservoir) and keep it alive for 47319 seconds (just more than 13 hours), the Math.Exp returns double.Infinity.

So if we init ResponseTime, and use it in a long running process (a se

[2017-08-19 12:18] PaulParau commented on #72
Thanks for pointing this out; a stable version was subsequently released [v0.5.0](https://www.nuget.org/packages/Metrics.NET.Graphite/0.5.0).

[2017-08-19 12:18] #72 closed

[2017-08-19 12:40] PaulParau commented on #83
Hi,

I think a cleaner way would be to add a boolean parameter to the `WithHttpEndpoint` method (something like `bool waitUntilStarted = false`). If it is set to true, then the method will not `return this` until the endpoint task has finished; otherwise it will behave as it does now.

What do you think of this solution?

Also, I'm curios, what use-case do you have that requires you to wait until

[2017-08-19 12:45] PaulParau commented on #81
No, we do not have any concrete plans for that. Feel free to work on a pull request if you want to :)

FYI the repo for the visualization app is [here](https://github.com/Recognos/Metrics.NET.FlotVisualization).

[2017-08-19 12:48] #51 closed

[2017-08-19 12:52] PaulParau commented on #58
@bpowers have you by any chance checked whether this fixed the problems you were having? I'd like to close the issue if this is the case.

[2017-08-19 12:53] #62 closed

[2017-08-19 12:54] #67 closed

[2017-08-19 12:55] #71 closed

[2017-08-19 13:44] PaulParau commented on #80
I cannot reproduce the issue. The `ExponentiallyDecayingReservoir.Rescale` method gets triggered, as expected, 1 hour after reservoir creation, and `startTime` gets reset. Thus, the difference `(timestamp - this.startTime.GetValue())` does not get larger than 3600 and `Math.Exp(this.alpha * (timestamp - this.startTime.GetValue()))` should never get larger than 4.64385... × 10^23, which is well ben

[2017-08-21 04:07] motime commented on #81
10x

[2017-08-25 10:08] Crozin commented on #76
I seems that .NET Standard 2.0 provides all necessary types except for `ConfigurationManager`.

[2017-09-07 13:26] bronsh commented on #83
I think returning a Task is a better option, because it lets you do other things while listener is starting, and still be able to track over the Task to know whether it succeeded in listening or not.

The use-case is an application which needs to fail if the http listening did not succeed, for example, if it doesn't have the permissions to listen on the specific port.
I want the user will know som

[2017-09-19 00:21] Paccc opened #85 "Bug in ActionScheduler.Start(TimeSpan, Func<Task>)"
There is a bug in ActionScheduler.cs line 50:

`Start(interval, t => t.IsCancellationRequested ? action() : TaskEx.CompletedTask);`

The clauses of the if statement are reversed causing it to return a completed task if cancellation is not requested. The correct statement should be to negate the if condition:

`Start(interval, t => !t.IsCancellationRequested ? action() : TaskEx.CompletedTask);`

[2017-09-22 19:53] murray02 opened #86 "Unable to reference Custom HTTP endpoint"
I cannot seem to reference the documented Custom HTTP Endpoint:
https://github.com/Recognos/Metrics.NET/wiki/Http-Endpoint-Reports

Metric.Config.WithHttpEndpoint("http://localhost:1234/", config => config
    .WithMyCustomEndpointReport("sample"/* any other parameters */));

".WithMyCustomEndpointReport" is not recognized and I am running 0.5.3. I am hoping to get this working so that I can use T

[2017-09-25 20:38] #86 closed

[2017-09-25 21:08] murray02 opened #87 "BOM character in JSON output to HttpEndpoint."
I have noticed that the output of the JSON from the HttpEndpoint contains a BOM character which is preventing other clients like Telegraf from reading the JSON. The httpjson input for Telegraf errors out on:

[inputs.httpjson]: unable to parse out as JSON, invalid character 'ï' looking for beginning of value

If you wget the httpendpoint and open the file with a text editor you can see the encodin

[2017-09-27 14:37] Crozin commented on #76
Any chance for update? As far as I know `ConfigurationManager` is used only as a convnient way to set up `Metrics.Reports.ToleratedConsecutiveFailures`, `Metrics.HttpListener.HttpUriPrefix` and `Metrics.GlobalContextName` from `appSettings`. That could be ommited in .NET Standard 2.0.

[2017-10-06 14:28] foxthedream opened #88 "SSL Support"
Hi

Both ElasticSearch and InfluxDB offer hosted versions of their solutions. Unfortunately both create HTTPS endpoints only and I cannot find a way to access using HTTP only. I have tried the ElasticSearch and InfluxDB with the URI using HTTPS and that didn't work.

Does the Reporter support HTTPS at all?

[2017-10-13 20:01] beinguam opened #89 "WithHttpEndpoint working in IIS Express not IIS local"
When I used IIS Express in the Properties of the project (in the Web tab) the metrics page works just fine, but if I used Local IIS instead it doesn't work at all.  Thoughts?

[2017-10-16 08:18] Liwoj commented on #89
What does it mean "doesn't work at all" ? What HTTP code you getting, whats in IIS log ?

`WithHttpEndpoint` is using `HttpListener` and is tailored to be used inside standalone exe (console program etc). If your app is running inside IIS (regular or Express), [OWIN adapter](https://github.com/Recognos/Metrics.NET/wiki/OWIN-Metrics-Adapter) is much better option...

[2017-10-17 14:04] beinguam commented on #89
Thanks for the suggestion - it is unusual - no error in the logs or http code, just a blank browser when I hit it...

[2017-10-29 23:01] megakid commented on #76
I am working on this - current work in progress is here: https://github.com/megakid/Metrics.NET/tree/netcore

[2017-11-03 02:16] hhansell commented on #80
@PaulParau, after logging out some values, I see that the NaN comes ultimately as the result of a list where all items have a weight of zero.  Perhaps a change to the Mean function to handle this and return 0?  This won't fix the bigger issue further down though.

[code]

Having logged out the values, here is an example using real data (from a logged version of the Rescale method in the Exponentia

[2017-11-10 07:46] imyounghan opened #90 "Incorrect TimerContext"
`using(var context = Metrics.Metric.Timer("Commands", Metrics.Unit.Requests, Metrics.SamplingType.LongTerm))
{
....
}`

loop 10,000 times, the report is
    [DESKTOP-V68UFFJ.Samples_QuickStart] Commands
   Active Sessions = 0
        Total Time = 5997782.00 ms
             Count = 10000 Requests
        Mean Value = 1661.11 Requests/s
     1 Minute Rate = 2000.00 Requests/s
     5 Minute Rate = 20

[2017-11-10 08:26] rofr commented on #76
@megakid Is the port going well? Need any help? Looks like most work is in the samples and adapters..

[2017-11-10 10:57] megakid commented on #76
@rofr I think the port is pretty much done but I don't have any experience with Nancy and Owin.  I have introduced a new AspNetCore adapter, pretty much copy pasted from Owin and tweaked.

Everything I have tested is working, I'll create a PR and would appreciate a review/comments.

[2017-11-10 11:00] megakid commented on #76
https://github.com/Recognos/Metrics.NET/pull/91 Pull Request created.

[2017-11-10 11:03] rofr commented on #76
@megakid awesome, I'll have a look. I'll also tell the nancy dev team, maybe one of them can help review.

[2017-11-15 08:36] imyounghan commented on #90
the code:

var timer = _commandTimer.Value.NewContext(typeName);
task.ContinueWith(task => {
    using (timer) { }
    return task.Result;
});

It's not accurate to write this.

[2017-11-17 10:53] GitAtSmsPortal commented on #80
We also had found this issue within our application when using timers.

We had a metric that posted once on application startup, and we would get the exact same error logged about 13hrs later.

We found that the issue resided in the constructor of WeightedSnapshot class on the following line
`ln52: this.normWeights[i] = sample[i].Weight / sumWeight;`

As time moves on and no updates to the metric

[2017-11-24 01:29] #90 closed

[2017-12-04 22:58] hinteadan opened #92 "Looking for additional repository members"
Hi all,

Due to very limited time that we can currently allocate on **Metrics.NET**, we would like to extend the current team of maintainers.

I'm tagging the most involved members that I can find in GitHub Insights. Please reply to this issue and let us know if you would like to join the team.

The purpose is to keep it alive, cool, working and up to date with the community needs.

The four of us

[2017-12-05 09:22] danielmarbach commented on #92
Thanks @hinteadan for the honor that my name shows up in the list of people who'd like to join. Unfortunately, I don't use Metrics.NET anymore and thus I'm not a good candidate to be a maintainer since my viewpoints would be skewed and even worse completely outdated.

[2017-12-05 18:55] kmaragon commented on #92
I second the sentiment regarding the name showing up. And I'm so sorry to hear of the terrible news. I don't use Metrics.NET anymore either however, I still do metrics (Just not doing C# anymore). As such, I'm not as worried about being out of date on the core functionality the library offers. Just the C# language features that it may or may not use. Provided someone else can take on that responsi

[2017-12-05 21:42] hinteadan commented on #92
Thanks guys, I appreciate your replies!
@kmaragon I will add you nonetheless, your help is kindly appreciated. Thank you!

[2017-12-05 21:51] thunderstumpges commented on #92
I am also not developing in .NET anymore. Apologies, and good luck, the project was a pleasure to work with!

[2017-12-05 22:03] hinteadan commented on #92
Thanks for the reply @thunderstumpges, appreciate it.

If you know someone who would benefit from Metrics.NET and would like to be actively involved in maintaining it, that would be very helpful. If so please reference him to this thread. Thank you!

[2017-12-06 19:38] alhardy commented on #92
@kmaragon @thunderstumpges  but dotnet is now at it's best 😁

@hinteadan thanks for the mention, if it were a year ago I would have taken accepted your offer, however I ended up forking when needing dotnet core support due to not being able to get any traction on that from Metrics.NET even after providing a POC unfortunately ☹️

I did have the pleasure of collaborating with @etishor , appreciate h

[2017-12-06 20:46] hinteadan commented on #92
@alhardy Sorry for that. I realize we are late opening up but yeah, U know the saying, _sometimes you win sometimes you learn_ ... from mistakes mostly.

I was thinking maybe you want to merge back your fork into this repository and continue working here, but I think you are not maintaining the fork either (last commit is Sep. 2016). And you began writing your own *AppMetrics*. Is that right? If s

[2017-12-06 21:00] alhardy commented on #92
@hinteadan all good, no need for apologies! day jobs get in the way completely understand.

Correct, the fork was just a POC, AppMetrics just come about as a continuation on what I required at the time.

[2017-12-13 06:02] StamCHik commented on #92
Hello friends, I'm dot.net c# developer (from Israel). I'm using metrics.net and love it. Can help little bit.

[2017-12-13 06:57] hinteadan commented on #92
Appreciate it, @StamCHik!

I invited you to join.

Thank you!

[2017-12-13 08:05] StamCHik commented on #92
Thank You!
Joined!

On Wed, Dec 13, 2017 at 8:57 AM, Hintea Dan Alexandru <
notifications@github.com> wrote:

[2017-12-30 07:33] elementum commented on #76
Any news on this?

[2018-01-02 09:15] bronsh commented on #92
Hi
I'm working on Gigya (https://github.com/gigya), and we do work daily with Metrics.NET
I would love to join the team.
Thank you!

[2018-01-02 09:31] hinteadan commented on #92
@bronsh Awesome, I sent you the invitation.

A Happy New Year!

[2018-01-02 09:34] bronsh commented on #92
Joined
Thank you!

[2018-01-15 08:19] hinteadan commented on #92
@megakid add request sent.
Thanks!

[2018-02-07 06:52] bnayae opened #93 "Activation Contribution"
As a consultant I'm helping some of my customer to use Metrics.NET.
Along with my customers we found needs for having dynamic activation for metrics report.
The idea is to set it in the configuration and bind it into the sending pipeline before the actual metrics reports.
This way the organization will be able to activate/deactivate metrics of specific profiles (for example tags) on demands, in or

[2018-02-07 07:19] hinteadan commented on #93
So, if I understood correctly, the feature is to optionally filter which metrics get pushed based on the given configuration. Correct?

[2018-02-19 15:08] PaulParau commented on #92
Roughly, the update procedure is:
* first updating the relevant versions (SharedAssemblyInfo, and the nuspecs of the affected packages - in this case both the core metrics library, and the owin adapter were changed since the last released version so nuspecs of both packages needed to be updated - you can have a look at my latest commit)
* update the push-nuget.bat script with the proper versions
*

[2018-02-20 06:19] bronsh commented on #92
@PaulParau Thank you

[2018-02-26 11:29] cqwang opened #95 "metrics is always insert into db with last histogram data"
when I set the interval 5 seconds to sync，always using last histogram data，sush as count, max, min .
I just want to get the latest 1 minute data, not contains the data before.

my init:
`
            var host = ConfigurationManager.AppSettings["Metrics.InfluxDb.Host"];
            var port = ushort.Parse(ConfigurationManager.AppSettings["Metrics.InfluxDb.Port"]);
            var database = Configu

[2018-02-27 09:59] alberto-donat opened #96 "AppDomain error"
Hi, i'm trying to use Metrics.NET in Windows service project.

i got these errors:

[code]
any help will be apreciated

Thanks in advance

[2018-03-25 02:43] DeLoachAero opened #97 "Azure Application Insights reporter"
NOT an issue, just an FYI...

If anyone is interested, I've thrown together a Metrics.NET reporter to Azure AI here:

https://github.com/DeLoachAero/Metrics.NET.AzureApplicationInsights

It's more of an experiment for me, as I wanted to learn a bit more about Azure AI and the quickest way I knew to get some metrics in it was to take an already Metrics.NET-instrumented app and send the data to AI.

[2018-03-28 07:36] alkampfergit commented on #32
Any news for this issue? Actually we really love Metrics.NET library, but without .NET core support we will need to move to another library.

[2018-03-28 12:32] niemyjski commented on #32
@gian, We have an implementation for Foundatio for this lib but we support
others as well (https://github.com/FoundatioFx/Foundatio#metrics) perhaps
short term you can move to one of our impls and then move back when it's
supported via the abstraction?

Thanks
-Blake Niemyjski

On Wed, Mar 28, 2018 at 2:36 AM, Gian Maria <notifications@github.com>
wrote:

[2018-03-28 13:54] alkampfergit commented on #32
I'll give it a try. :)

Many thanks.

[2018-03-31 23:15] alhardy commented on #32
@alkampfergit There is also https://www.app-metrics.io/getting-started/ ;)

[2018-04-30 10:13] sdiakovskyi-gd commented on #80
I can confirm existence of this issue, and proposed patch has fixed this issue for our application.

@PaulParau can it be merged and new version published to nuget?

[2018-04-30 23:22] PaulParau commented on #80
This fix does indeed prevent NaN values for the weights, and ultimately for the mean value of a histogram snapshot.

But this only fixes the symptoms, not the cause - the reservoir will essentially 'lose' values after ~13 hours of inactivity. I believe that this issue should be fixed at the RescaleReservoir level, to prevent weights from becoming zero - but I can't tell right now what the implicat

[2018-05-07 16:36] PaulParau commented on #80
I've fixed the issue & pushed a new package (v0.5.6-pre) to nuget. Thanks for all the help everyone!

[2018-06-13 15:45] theazyfa commented on #76
any update?

[2018-07-03 04:51] saurabhcapillary opened #98 "Is this project actively maintained, can i use it for production environment."

[2018-07-11 22:48] ssttgg commented on #98
Well, it's not total abandonware, as evidenced by #92. But nor is it actively being worked on right now.

However anecdotally speaking, is it very much appropriate for production use. My organisation has been using it for years on critical, high traffic services with no real issues.

[2018-08-07 17:30] micdenny commented on #76
here's my 2 cents:

https://github.com/Recognos/Metrics.NET/compare/master...micdenny:netcore

https://github.com/micdenny/Metrics.NET/tree/netcore

I've just convertered the main project `Metrics` and in this way all the performance counters works on netcore webapi projects that is what I need right now (normal metrics works with the actual fullfx version). I've tried adding the shims, but then [

[2018-10-11 08:25] ayrtonyagami opened #99 "How to implement the class and my metrics?"
Hello everyone, this is the first time I come into contact with this tool. And I'm using it to measure a winform application. With the help of the documentation I have already been able to put Metrins.Net running normally, but I also want to put my own metrics and I do not know _where to implement or create the class with the metrics._
The initial setting:
Metric.Config.WithHttpEndpoint ("http: //

[2018-10-13 14:19] manigandham commented on #98
I recommend looking at https://github.com/AppMetrics/AppMetrics which has a bigger community and more active development. It's probably best to merge/migrate this library at some point since metrics are pretty standardized now across the industry.

[2019-01-18 16:01] impactmrj opened #100 "authentication on the metrics endpoint"
Just testing the metrics.net library, curious if one can put authentication on the metrics endpoint?  Below is our snippet in the configuration() method.  What am I missing?  My controller is expecting basic authentication but the metrics endpoint is allowing me to go to it.

            appBuilder.Use(typeof(AuthenticationMiddleware));
            appBuilder.UseCors(CorsOptions.AllowAll);

[2019-01-19 09:35] Liwoj commented on #100
You are creating Metrics endpoint using Owin. Metrics is just one of the Owin handlers. For each request, Owin handlers are called in the order of registration. So problem is probably in your AuthenticationMiddleware not stopping the request before it reaches Metrics middleware...

[2019-02-11 14:45] yar1k0v commented on #76
Looks like this project is dead.

[2019-02-11 20:44] megakid commented on #76
We've moved to https://www.app-metrics.io/ which was forked from this project.

[2019-02-11 21:37] cocowalla commented on #76
@megakid so... I'm confused - I thought this repo was continuing under @Recognos, while the app-metrics.io fork was created by someone else after some disagreements about how/when .NET Standard support should be implemented?

[2019-02-11 22:34] megakid commented on #76
I'm not sure of the origins of app-metrics vs metrics.net but app-metrics is similar enough (API wise), seems to be more active and works well for us (e.g. my day job) in production.  The number 1 reason we migrated away from this project is because we want to proceed with .NET Core ASAP and Metrics.NET was our main blocker.

I originally planned to do some work on Metrics.NET to help the .NET Cor

[2019-02-12 10:13] cocowalla commented on #76
@megakid ah, I took "_We've moved_" to mean "_we the original repo owners_ have moved"

[2019-02-15 15:34] yar1k0v commented on #76
@megakid I know this project and my team is going to migrate on it as well since this project is not supported anymore.

[2019-05-18 16:35] Boorte opened #102 "Nancy.Metrics Adapter. I've fixed an error in the current NuGet package"
Hi.

Is this project still alive?

I tried to use the current NuGet Nancy.Metrics adapter version with latest NuGet version of NanxyFX (2.0) and it crashes hard when just adding the reference.
After that I grabbed the latest Nancy.Metrics code and fixed it so that it can be used with the latest NancyFX version.
I'd like give this fix back to the project but it's kinda hard if the project is not ma

[2019-05-23 11:22] LatisVlad commented on #102
Hi, right now the project is not being actively maintain.

[2019-08-08 12:47] vein-hitta commented on #102
@Boorte Do you have a copy of your fix anywhere? I got the same problem

[2019-08-14 12:12] Boorte commented on #102
Attached is the modified MetricsModule.cs file. Just remove the .txt part from the filename.
[MetricsModule.cs.txt](https://github.com/Recognos/Metrics.NET/files/3501255/MetricsModule.cs.txt)

[2019-08-14 12:27] vein-hitta commented on #102
Thank you!

[2019-12-09 11:35] emulk opened #103 "Metrics.net with elasticsearch and grafana (name [Percentile 99.9%] cannot contain '.')"
Hello,
i'm trying to use Metrics.net with elasticsearch , i have found one of the version working of elasticsearch, is elasticsearch 2.2.0, if i use the last version of elasticsearch, it's not possible to have the data from metrics.net.

I'm having issues with the column name containing "." , like "Percentile 99.9%".

Is possible to change metrics.net column name, or how can i avoide this problem